body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
}

body,html{
  height: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Inter:wght@200;300;400;500;700&family=Lato:wght@300;400;700&display=swap');

@layer components{
  .flex__center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex__center_start{
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .main__title{
    font-size: 32px;
    color: black;
    font-family: 'Lato';
    font-weight: 500;
  }

  .sub__title{
    font-size: 16px;
    color: #ABB3C1;
    font-family: 'Lato';
    font-weight: 450;
  }

  .bold__text{
    font-family: 'Lato';
    color: black;
    font-size: 22px;
    font-weight: 600;
  }

  .semibold__text{
    font-family: 'Lato';
    color: black;
    font-size: 20px;
    font-weight: 500;
  }

  .nm__text{
    font-family: 'Lato';
    color: black;
    font-size: 18px;
  }

  .click__object{
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }

  .click__object:hover{
    opacity: 60%;
  }
}